// COLORS
$color-primary: #97A292;
$color-primary-dark: #97A292;
$color-primary-light: #97A292;
$color-primary-bright: #f1cc66;

$color-grey-light: #97A292;
$color-grey-dark: #97A292;
$color-grey-dark2: #97A292;
$color-black: #97A292;
$color-white: #97A292;

$color-light-blue: #97A292;
$color-dark-blue: #97A292;
$color-dark-blue2: #97A292;
// MEDIA QUERIES
$tablet: 480px;
$desktop: 769px;
